@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Outfit";
  @apply bg-background text-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rowdies", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}
